<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO.Properties.Settings.ArtistConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Artist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>